.maindelibre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.caja{
    width: 400px;
}
div{
    margin: 30px;
    justify-content: center;
}
h1{
    justify-self: center;
}